:root {
  --color-one: #008cff;
  --color-two: #00a2ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
  padding: 30px 0;
  background-color: #eee;
}

main {
  display: flex;
  align-items: center;
  padding: 20px 0;
  flex-direction: column;
}

input {
  padding: 15px;
  border: 2px solid #d3d3d3;
  font-size: 12pt;
  outline: none;
  width: 250px;
  transition: all .3s;
  border-radius: 5px;
}

input:focus {
  border: 2px solid var(--color-one);
}

.btn {
  border: none;
  background-color: var(--color-one);
  color: white;
  cursor: pointer;
  padding: 17px;
  width: 100px;
}

.btn:focus {
  border: none;
}

.btn:hover {
  background-color: var(--color-two);
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  width: 350px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 10px;
  margin: 20px 0;
  border-bottom: 1px solid lightgray;
}

.right-side {
  width: 300px;
}

.left-side {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.done-button {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: none;
  border: 3px solid var(--color-one);
  cursor: pointer;
}

.done-button:hover {
  background-color: var(--color-two);
}